<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>

</head>
<body >
    <div style="margin: 0;position: absolute;top: 40%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)"><br /><br />
    <img src="/static/GIF/thumbsup.gif" style="height: 15rem;width: 20rem;margin-left: 12rem;" /><br /><br /><br /><br /><br />
    <h1>Welcome {{name}}</h1><br /><br />
   
      <center><a href="http://127.0.0.1:5000/logout" class="btn btn-primary btn-lg " role="button" aria-pressed="true">Logout</a>      </center> 
        
    </div>
</body>
</html>